@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hoverEffect {
        @apply cursor-pointer hover:text-black  hover:bg-gray-200  rounded-full w-[52px] xl:w-auto h-[52px] xl:h-auto xl:p-3 transition duration-300 ease-out;
    }
}

body::-webkit-scrollbar {
    width: 0.25rem !important;
}

body::-webkit-scrollbar-track {
    background: rgba(220, 220, 220, 0.9) !important;
}

body::-webkit-scrollbar-thumb {
    background: #ef476fe6 !important;
    border-radius: 10px !important;
}

* {
    scroll-behavior: smooth;
}

.bg-rn-black {
    background-color: #111111;
}

.bg-rn-focus {
    background-color: #111111;
}
.text-rn-black {
    color: #111111;
}
.text-rn-white {
    color: #eeeeee;
}
.bg-white10 {
    background-color: rgba(255, 255, 255, 0.05);
}

/* Highlight OnTap (mobile) */
.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-select:focus {
    outline: none !important;
}
