@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 0.25rem !important;
}

body::-webkit-scrollbar-track {
    background: rgba(220, 220, 220, 0.9) !important;
}

body::-webkit-scrollbar-thumb {
    background: rgba(239, 71, 111, 0.9) !important;
    border-radius: 10px !important;
}

* {
    scroll-behavior: smooth;
}

.bg-rn-black {
    background-color: #111111;
}

.bg-rn-focus {
    background-color: #111111;
}
.text-rn-black {
    color: #111111;
}
.text-rn-white {
    color: #eeeeee;
}
.bg-white10 {
    background-color: rgba(255, 255, 255, 0.05);
}
